javascript:
	$('#delete_message_notice').show('slow').delay(2000).hide('slow');
	$('#delete_message_notice').addClass("alert alert-success")
	$('#delete_message_notice').html('Successfully deleted Tag');